<h1>Name: $animal.getName()</h1>
<hr>
<h2>Health status: $animal.getHealth()</h2>
<hr>
<h2>Age: $animal.getAge()</h2>
<hr>
<h2>SightingId: $animal.getSightingId()</h2>
<h2> Belongs to: $sighting.getLocation()</h2>




<form action="/sightings/$animal.getsightingId()/animals/$animal.getId()/delete" method="post">
  <button type="submit" class="btn btn-danger" id="delete-animal">Delete animal</button>
</form><br><br>

<a href="/sightings/$sighting.getId()">Return to $sighting.getName()</a>