<br><br><br><h1>Animals list!</h1><br><br><br><br>
<div class = "card">
#if ($animals)
    <ul>
        #foreach ($animal in $animals)
            <li><a href="/animals/$animal.getId()">$animal.getName()</a></li>
        #end
    </ul>
</div><br><br><br>
#else
    <p>No animals!</p>

#end 
<br><br><br><button type="submit" class="btn btn-outline-dark block"><a href="/form1">Add New Animal</a></button>

