<h1>Success!</h1>

<br>

<button type="submit" class="btn btn-outline-dark block"><a href="/sightings">View Sightings</a></button>
<button type="submit" class="btn btn-outline-dark block"><a href="/animals">View Animals</a><th></button>
<button type="submit" class="btn btn-outline-dark block"><a href="/species">View Species</a><th></button>

